<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
  <display-name>WebApp - ART UC Labs</display-name>
  <filter>
	<filter-name>javamelody</filter-name>
	<filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
	<async-supported>true</async-supported>
  </filter>
  <filter-mapping>
	<filter-name>javamelody</filter-name>
	<url-pattern>/*</url-pattern>
	<dispatcher>REQUEST</dispatcher>
	<dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <listener>
	<listener-class>net.bull.javamelody.SessionListener</listener-class>
  </listener>
  <!--
  <servlet>
  <servlet-name>HelloWorldExample</servlet-name>
  <servlet-class>com.example.HelloWorldExample</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>HelloWorldExample</servlet-name>
  <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  -->
</web-app>
